.singleProduct{
    width:30%;
    height: 30%;
    float:left;
}

.productPicture{
    width: 230px;
    height: 200px;
    float:left;
    box-shadow: 0px 3px 3px #bdbdbd;
    border : .5px solid #bdbdbd;
    padding:3%;
}
.productName{
    width:100%;
    display: inline-block;
    font-size: .8em;
    text-align: left;
    color:gray;
    padding-top: 4%;
}
.productPrice{
    width:100%;
    display: block;
    font-size: .8em;
    text-align: left;
    color:gray;
    padding:2% 0 5%;

}

.productBody{
    width: 900px;
    display: inline-block;
    /*margin-left: 150px;*/
    margin: auto;
    padding: 2%;
}
