.productDetail {
  width: 100%;
  height: 800px;
}

.productDetailLeft {
  width: 50%;
  margin-top: 100px;
  /*background-color: pink;*/
  float: left;
}
.productDetailLeftImg {
  width: 400px;
  /*background-color: greenyellow;*/
  float: right;
  height: 400px;
  margin-right: 60px;
}

.productDetailPrice {
  padding: 0 2% 0 0;
}
.productDetailTitle {
  text-align: left;
  color: gray;
  width: 100%;
  text-decoration: none;
  /*background-color: pink;*/
}
button {
  width: 70%;
  background-color: lightseagreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  float: left;
  margin-top: 4%;
  font-size: 0.9em;
  border-radius: 4px;
  cursor: pointer;
  /*background-color: pink;*/
}
button:hover {
  background-color: gray;
}
.productofferDiv {
  text-align: left;
  font-size: 0.9em;
  color: lightseagreen;
  padding-bottom: 0.5%;
  width: 100%;
  /*background-color: pink;*/
}

.productText {
  text-align: left;
  font-size: 0.9em;
  color: gray;
  width: 100%;
  padding-bottom: 2.5%;
}
.productDetailTitleDescription {
  text-align: left;
  font-size: 0.8em;
  color: gray;
  width: 100%;
  padding-bottom: 5%;
  /*background-color: pink;*/
}

.hrStyle {
  border: 0;
  height: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
img {
  height: 100%;
  width: 95%;
}
.productDetailRight {
  width: 45%;
  float: left;
  margin-top: 100px;

  /*background-color: deeppink;*/
}
.productDetailAttribute {
  width: 50%;
  text-align: left;
}
.productDetailattribute {
  width: 100%;
  /*padding: 1%;*/
  text-align: left;
  color:gray;
}
.productDetailattributeName {
  float: left;
  color:grey;
  font-size: .9em;
}
.productDetailRadio {
  cursor: pointer;
  background-color: aliceblue;
  border: 2px solid transparent;
}
.productDetailattributeName:not(:first-child) {
  margin-left: 10px;
}
.productDetailRadio {
  padding: 10px 20px;
}

.selected {
  border: 1px solid gray;
    box-shadow: 4px 4px 4px #bdbdbd;

}

.colorDemo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
}

.attributeWrapper {
  overflow: hidden;
  padding-top: 10px;
}
